{% extends 'mail_service/base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        {% for letter in object_list %}
        <div class="col-md-4">
            <h2>{{ letter.name }}</h2>
            <p> {{ letter.status }}</p>
            <p class="card-text">{{letter.message}}</p>
            <p><a class="btn btn-primary" href="{% url 'mail_service:letter_detail' letter.pk %}" role="button">Посмотреть &raquo;</a></p>
            <p><a class="btn btn-warning" href="{% url 'mail_service:letter_update' letter.pk %}" role="button">Редактировать &raquo;</a></p>
            <p><a class="btn btn-secondary" href="{% url 'mail_service:letter_delete' letter.pk %}" role="button">Удалить &raquo;</a></p>
        </div>
        {% endfor %}
    </div>
    <hr>
</div>
{% endblock %}